@model D2DTechSampleApplication.Models.Location

<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Latitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitute)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

    </dl>
</div>
