@model D2DTechSampleApplication.Models.WorkTask

@{
    ViewBag.Title = "Work Task Details";
    Layout = "~/Views/Shared/_TechnicianLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Work Task Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkStatus)
        </dd>

        <dt>
            Customer Name
        </dt>

        <dd>
            @ViewBag.CustomerName
        </dd>

        <dt>
            Customer Location
        </dt>

        <dd>
            @ViewBag.CustomerLocation
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkTaskId }) |
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.TechnicianId }, null)
</p>
